<template name="addFoodUnit">
    <div id="addFoodUnit" class="row form-group cardShadow">

        <div id="headerAddUnit" class="row form-group col-xs-12">

            <div class="col-xs-10 cardLabelRed" id="addNewUnitHeading">
                <div>
                    Add or remove units
                </div>
            </div>
            <div class="closeBtnContainer">
                <button id="closeBtnAddUnit" class="glyphicon glyphicon-remove btn btn-default"></button>
            </div>
        </div>

        <div id="unitList" class="col-xs-12 col-md-6">
            <label>Your  units</label>
            <table id="addUnitTable" class="table table-condensed">
                {{#each customFoodUnits}}
                    {{> customFoodUnit}}
                 {{/each}}
            </table>
        </div>
        <form class="addCustomFoodUnit">
            <div id="actionContainerAddUnit" class="col-xs-12 col-md-6">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" placeholder="piece, slice, cup..." />

                    <label>Weight in grams</label>
                    <input type="number" name="gramWeight" class="form-control" placeholder="0" />
            </div>

            <div id="unitBtnContainer" class="row col-xs-12">
                <input type="submit" id="addUnitBtn" class="btn btn-success " value="Add Unit" />
            </div>
        </form>

    </div>

</template>